<app-encabezado-secundario></app-encabezado-secundario>

<div class="contenedor">
  <div class="elementos item2 text-center justify-content-center align-items-center pt-3">
    <p><strong>Tarjeta de Credito.</strong></p>
    <i class="pi pi-credit-card mt-2" style="color: #243c7c; font-size: 6rem"></i>
    <p class="p-1">Las compras que realices seran financiadas por el banco.</p>
  </div>
  <div class="elementos item2 text-center justify-content-center align-items-center pt-3">
    <p><strong>Tarjeta de Debito.</strong></p>
    <i class="pi pi-credit-card mt-2" style="color: #1b6eeb; font-size: 6rem"></i>
    <p class="p-1">Las compras que realices se pagaran con tus fondos actuales.</p>
  </div>
</div>


<app-footer></app-footer>
<!-- <app-loading *ngIf="loading" class="carga"></app-loading> -->
