<app-encabezado-principal></app-encabezado-principal>
<div class="fondo flex justify-content-center p-4">
  <div class="pt-8 w-20rem h-22rem bg-white ">
    <div class="flex align-items-center justify-content-center font-bold text-primary p-0 ">
      <p>¡Bienvenid@ de vuelta!</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="card">
      <div class="field block justify-content-center text-center">
          <input
          [(ngModel)]="correo"
          formControlName="email"
          name="correo"
          type="email"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-10"
          placeholder="Correo electronico">
          <div class=" align-items-center justify-content-center text-red-500 p-0 m-0">
            <small *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')" class="errors">
              El correo electrónico es requerido
            </small>
            <small *ngIf="loginForm.get('email')?.hasError('pattern')" class="errors">
              El correo electrónico no es valido
            </small>
          </div>
      </div>
      <div class=" block justify-content-center text-center pr-4 pl-4 p-fluid">
        <p-password
        [(ngModel)]="contrasena"
        formControlName="password"
        name="contra"
        placeholder="Contraseña"
        [toggleMask]="true"
        [feedback]="false">
      </p-password>
      <div class=" align-items-center justify-content-center text-red-500 p-0 m-0">
        <small *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')" class="errors">
          La contraseña es requerida
        </small>
        <small *ngIf="loginForm.get('password')?.hasError('minlength')" class="errors">
          La contraseña debe de ser minimo de 6 caracteres
        </small>
      </div>
      <div class=" align-items-center justify-content-center text-red-500 p-0 m-0">
        <small *ngIf="validarDatos" class="errors">
          Verifica tu correo y contraseña
        </small>
      </div>
      </div>
      <div class="field flex justify-content-center">
        <p-button
        label="Iniciar Sesion"
        styleClass="px-6 borde-primario text-50 h-2rem m-3"
        type="submit"
        (click)="validarCredenciales()"></p-button>
    </div>
  </form>
  </div>
</div>
<app-loading *ngIf="loading" class="carga"></app-loading>
