<app-encabezado-principal></app-encabezado-principal>
<div class="fondo flex justify-content-center p-4">
  <div class="pt-8 w-24rem h-31rem bg-white ">
    <div class="flex align-items-center justify-content-center font-bold text-primary p-0 ">
      <p>¡Bienvenid@!</p>
    </div>
      <form class="card" [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="field block justify-content-center text-center">
            <input
            [(ngModel)]="nombre"
            formControlName="nombre"
            name="nombre"
            type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-10 h-3rem"
            placeholder="Nombre">
            <div class=" align-items-center justify-content-center text-red-500 p-0 m-0">
              <small *ngIf="createForm.get('nombre')?.touched && createForm.get('nombre')?.hasError('required')" class="errors">
                El nombre es requerido
              </small>
            </div>
        </div>
        <div class="field block justify-content-center text-center">
          <input
          [(ngModel)]="apellido"
          formControlName="apellido"
          name="apellido"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-10 h-3rem"
          placeholder="Apellido">
          <div class=" align-items-center justify-content-center text-red-500 p-0 m-0">
            <small *ngIf="createForm.get('apellido')?.touched && createForm.get('apellido')?.hasError('required')" class="errors">
              El apellido es requerido
            </small>
          </div>
        </div>
        <div class="field block justify-content-center text-center">
            <input
            [(ngModel)]="correo"
            formControlName="correo"
            name="correo"
            type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-10 h-3rem"
            placeholder="Correo electronico">
            <div class=" align-items-center justify-content-center text-red-500 p-0 m-0">
              <small *ngIf="createForm.get('correo')?.touched && createForm.get('correo')?.hasError('required')" class="errors">
                El correo es requerido
              </small>
              <small *ngIf="createForm.get('correo')?.hasError('pattern')" class="errors">
                El correo debe de ser valido
              </small>
            </div>
        </div>
        <div class="block justify-content-center text-center pr-5 pl-5 pt-3 p-fluid">
          <p-password
          [(ngModel)]="contra"
          formControlName="contra1"
          name="contra1"
          placeholder="Contraseña"
          [toggleMask]="true"
          [feedback]="false">
        </p-password>
        <div class=" align-items-center justify-content-center text-red-500 p-0 m-0">
          <small *ngIf="createForm.get('contra1')?.touched && createForm.get('contra1')?.hasError('required')" class="errors">
            La contraseña es requerida
          </small>
          <small *ngIf="createForm.get('contra1')?.hasError('minlength')" class="errors">
            La contraseña debe de ser minimo de 6 caracteres
          </small>
        </div>
        </div>
        <div class="block justify-content-center text-center pr-5 pl-5 pt-3 p-fluid">
          <p-password
          formControlName="contra2"
          name="contra2"
          placeholder="Repite contraseña"
          [toggleMask]="false"
          [feedback]="false"
          (keyup)="verificar()">
          </p-password>
          <div class=" align-items-center justify-content-center text-red-500 p-0 m-0">
            <small *ngIf="createForm.get('contra2')?.touched && createForm.get('contra2')?.hasError('required')" class="errors">
              La contraseña es requerida
            </small>
            <small *ngIf="createForm.get('contra2')?.hasError('minlength')" class="errors">
              La contraseña debe de ser minimo de 6 caracteres
            </small>
            <small *ngIf="validaIgualdadContra" class="errors">
              Las contraseñas no coinciden
            </small>
          </div>
        </div>
        <div *ngIf="!createForm.get('nombre')?.hasError('required') &&
                    !createForm.get('apellido')?.hasError('required') &&
                    !createForm.get('correo')?.hasError('required') &&
                    !createForm.get('correo')?.hasError('email') &&
                    !createForm.get('contra1')?.hasError('required') &&
                    !createForm.get('contra1')?.hasError('minlength') &&
                    !createForm.get('contra2')?.hasError('required') &&
                    !createForm.get('contra2')?.hasError('minlength') &&
                    !validaIgualdadContra"
              class="field block justify-content-center text-center">
          <p-button label="Crear Cuenta" class="" styleClass="px-6 borde-primario text-50 h-2rem m-3" (click)="registrar()"></p-button>
        </div>
        <div class="justify-content-center text-center p-0">
          <p>¿Ya tienes cuenta?</p>
          <p><a  routerLink="/login">Inicia Sesion</a></p>
        </div>
      </form>
  </div>
</div>
<app-loading *ngIf="loading" class="carga"></app-loading>
