<app-encabezado-principal></app-encabezado-principal>
<div class="fondo flex justify-content-center p-4">
  <div class="pt-8 w-24rem h-31rem bg-white ">
    <div class="flex align-items-center justify-content-center font-bold text-primary p-0 ">
      <p>¡Bienvenid@!</p>
    </div>
      <form class="card" [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="field flex justify-content-center">
            <input
            [(ngModel)]="nombre"
            formControlName="nombre"
            name="nombre"
            type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-10 h-3rem"
            placeholder="Nombre">
        </div>
        <div class="field flex justify-content-center">
          <input
          [(ngModel)]="apellido"
          formControlName="apellido"
          name="apellido"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-10 h-3rem"
          placeholder="Apellido">
        </div>
        <div class="field flex justify-content-center">
            <input
            [(ngModel)]="correo"
            formControlName="correo"
            name="correo"
            type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-10 h-3rem"
            placeholder="Correo electronico">
        </div>
        <div class="field flex justify-content-center p-fluid">
          <p-password
          [(ngModel)]="contra"
          formControlName="contra1"
          name="contra1"
          placeholder="Contraseña"
          [toggleMask]="true"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-10 p-inputtext">
        </p-password>
        </div>
        <div class="field flex justify-content-center p-fluid">
          <p-password
          formControlName="contra2"
          name="contra2"
          placeholder="Repite contraseña"
          [toggleMask]="false"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-10 p-inputtext">
        </p-password>
        </div>
        <div class="field flex justify-content-center">
          <p-button label="Crear Cuenta" class="" styleClass="px-6 borde-primario text-50 h-2rem m-3" (click)="registrar()"></p-button>
        </div>
        <div class="field flex justify-content-center">
          <p>¿Ya tienes cuenta?</p>
          <p><a  routerLink="/login">Inicia Sesion</a></p>
        </div>
      </form>
  </div>
</div>
<app-loading *ngIf="loading" class="carga"></app-loading>
